@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    
    @font-face {
        font-family: 'Monoid';
        src: url('./fonts/monoid-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}


;


.hero {
    background-image: url('./AdobeStock_338714523_Preview.jpeg');
    block-size: cover;
}

.courses {
    background: url('./top.svg') no-repeat center top, url('./bottom.svg') no-repeat bottom center;
    background-size: 140%;
}

.courses-end {
    background: url('./top.svg') no-repeat center top;
    background-size: 140%;
}

.courses-item {
    min-height: 100px;
    background-color: white;
    border-radius: 5px;
}

.featured-item{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 60% repeat(auto,3);
}

.text-small{
    font-size: 10px;
}
.text-smaller{
    font-size: 8px;
    font-weight: bold;
}

.pp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    border: white solid 2px;
    background-color: aqua;
}

.ambassador-item{
    display: grid;
    grid-auto-flow: row; 
    grid-template-rows: 1fr auto;
}



.ambassador-item >div:nth-child(1) {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 40% 60%;
}

.itm-left-blk {
    display: flex;
   flex-direction: column;
}

body,html{
    width: 100vw;
    overflow-x: hidden;
}